@import "tailwindcss";

/* Note to self see how this works with prettier there is an install called
npm install -D prettier-plugin-tailwindcss */
/* These notes should be gone by the time we upload the final */

/* Responsive design*/

/*All globals below this*/
@theme {
  /* Imports colors not in tailwinds default pallete if your planning to constantly use it
  otherwise enter color as [#hexcode], only here for example*/
  --color-dark-bg: #242424;

  --animate-verticalShake: verticalShake 0.2s infinite;
  --animate-challengerCharge: challengerCharge 0.75s infinite;
  --animate-defenderCharge: defenderCharge 0.75s infinite;
  --animate-challengerAttack: challengerAttack 0.2s infinite;
  --animate-defenderAttack: defenderAttack 0.2s infinite;
}

/* 
When changing the background on other pages we want to write the following so it covers the entire page
min-h-screen bg-color
*/
/* Created Darkmode First one is default, second is when darkmode is used*/
@layer base {
  html {
    @apply bg-white dark:bg-dark-bg;

    @apply text-black dark:text-white;
  }
}

/*Re-usable styling*/

@layer components {
  .char {
    @apply min-w-[15em] p-[1ch] border border-black rounded-[1ch] grid grid-cols-3
    grid-rows-[2em_12em_2em_2em] items-center justify-items-center text-black no-underline;
  }
  .char:hover,
  .char:focus,
  .char:active,
  .char:visited {
    @apply text-black no-underline;
  }
  p[role="alert"] {
    @apply text-red-600;
  }
}

.char-create label {
  @apply h-fit flex justify-baseline gap-[1em];
}

/* Make the battle button glow/catch on fire or something if we have more time*/
#navbar nav a,
#navbar button {
  @apply text-white text-[1rem] font-medium py-2 px-4 rounded-md cursor-pointer transition-colors
  duration-200 hover:bg-[#444] hover:text-[#ffb300];
}

.hover:hover {
  @apply bg-[#666] cursor-pointer;
}

/*All animation below this point*/
/* prettier-ignore*/
@keyframes verticalShake {
  0% {transform: translateY(0);}
  25% {transform: translateY(5px);}
  50% {transform: translateY(-5px);}
  75% {transform: translateY(5px);}
  100% {transform: translateY(0);}
}

/* prettier-ignore*/
@keyframes challengerCharge {
  0% {transform: translate(0, 0) rotate(0deg);}
  25% {transform: translate(5px, 5px) rotate(5deg);}
  50% {transform: translate(0, 0) rotate(0eg);}
  75% {transform: translate(-5px, 5px) rotate(-5deg);}
  100% {transform: translate(0, 0) rotate(0deg);}
}

/* prettier-ignore*/
@keyframes defenderCharge {
  0% {transform: translate(0, 0) rotate(0deg);}
  25% {transform: translate(-5px, 5px) rotate(-5deg);}
  50% {transform: translate(0, 0) rotate(0eg);}
  75% {transform: translate(5px, 5px) rotate(5deg);}
  100% {transform: translate(0, 0) rotate(0deg);}
}

/* prettier-ignore*/
@keyframes challengerAttack {
  0% {transform: translate(50px);}
  100% {transform: translate(0);}
}

/* prettier-ignore*/
@keyframes defenderAttack {
  0% {transform: translate(-50px);}
  100% {transform: translate(0);}
}
