#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ff0101bd;
  color: #fff;
  padding: 0.75rem 2rem;
}

#brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  font-family: papyrus;
}

#navbar nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#navbar nav a,
#navbar nav button {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition:
    background 0.2s,
    color 0.2s;
}

#navbar nav a:hover,
#navbar nav button:hover {
  background: #444;
  color: #ffb300;
}

.battle-btn {
  font-weight: bold;
  font-size: 1rem;
  transition:
    background 0.2s,
    color 0.2s;
  cursor: pointer;
  margin-left: 1rem;
}
