.team-browser {
  display: flex;
}
.team-browser > section {
  flex: 1;
}

/* When viewing team icons, always display in 2 rows */
.team-view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.team-view > img {
  width: 30%;
}

/* Smaller fixed width when viewing as part of a deck of team cards instead of one team */
.team-deck {
  max-width: 30vw;
  list-style: none;
}
.team-card {
  background-color: gray;
}

.character {
  width: 30%;
}
.character > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.team-menu {
  display: flex;
}
.team-menu > section {
  flex: 1;
}
